/.idea/assetWizardSettings.xml
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/checksums/checksums.lock
/.idea/compiler.xml
/.gradle/6.1.1/executionHistory/executionHistory.lock
/.gradle/6.1.1/fileHashes/fileHashes.bin
/.gradle/6.1.1/fileHashes/fileHashes.lock
/.gradle/6.1.1/gc.properties
/.gradle/vcs-1/gc.properties
/.idea/gradle.xml
/.idea/jarRepositories.xml
/.gradle/6.1.1/fileChanges/last-build.bin
/.idea/misc.xml
/.idea/modules/app/Stockbit_Test.app.androidTest.iml
/.idea/modules/app/Stockbit_Test.app.iml
/.idea/modules/app/Stockbit_Test.app.main.iml
/.idea/modules/app/Stockbit_Test.app.unitTest.iml
/.idea/modules/Stockbit_Test.buildSrc.iml
/.idea/modules/Stockbit_Test.buildSrc.main.iml
/.idea/modules/Stockbit_Test.buildSrc.test.iml
/.idea/modules/common/Stockbit_Test.common.androidTest.iml
/.idea/modules/common/Stockbit_Test.common.iml
/.idea/modules/common/Stockbit_Test.common.main.iml
/.idea/modules/common/Stockbit_Test.common.unitTest.iml
/.idea/modules/common_test/Stockbit_Test.common_test.androidTest.iml
/.idea/modules/common_test/Stockbit_Test.common_test.iml
/.idea/modules/common_test/Stockbit_Test.common_test.main.iml
/.idea/modules/common_test/Stockbit_Test.common_test.unitTest.iml
/.idea/modules/data/Stockbit_Test.data.iml
/.idea/modules/data/local/Stockbit_Test.data.local.androidTest.iml
/.idea/modules/data/local/Stockbit_Test.data.local.iml
/.idea/modules/data/local/Stockbit_Test.data.local.main.iml
/.idea/modules/data/local/Stockbit_Test.data.local.unitTest.iml
/.idea/modules/data/model/Stockbit_Test.data.model.androidTest.iml
/.idea/modules/data/model/Stockbit_Test.data.model.iml
/.idea/modules/data/model/Stockbit_Test.data.model.main.iml
/.idea/modules/data/model/Stockbit_Test.data.model.unitTest.iml
/.idea/modules/data/remote/Stockbit_Test.data.remote.androidTest.iml
/.idea/modules/data/remote/Stockbit_Test.data.remote.iml
/.idea/modules/data/remote/Stockbit_Test.data.remote.main.iml
/.idea/modules/data/remote/Stockbit_Test.data.remote.unitTest.iml
/.idea/modules/data/repository/Stockbit_Test.data.repository.androidTest.iml
/.idea/modules/data/repository/Stockbit_Test.data.repository.iml
/.idea/modules/data/repository/Stockbit_Test.data.repository.main.iml
/.idea/modules/data/repository/Stockbit_Test.data.repository.unitTest.iml
/.idea/modules/Stockbit_Test.iml
/.idea/modules/navigation/Stockbit_Test.navigation.androidTest.iml
/.idea/modules/navigation/Stockbit_Test.navigation.iml
/.idea/modules/navigation/Stockbit_Test.navigation.main.iml
/.idea/modules/navigation/Stockbit_Test.navigation.unitTest.iml
/.gradle/6.1.1/javaCompile/classAnalysis.bin
/.gradle/6.1.1/executionHistory/executionHistory.bin
/.gradle/6.1.1/fileContent/fileContent.lock
/.gradle/6.1.1/javaCompile/jarAnalysis.bin
/.gradle/6.1.1/javaCompile/javaCompile.lock
/.gradle/buildOutputCleanup/outputFiles.bin
/.gradle/6.1.1/fileHashes/resourceHashesCache.bin
/.gradle/6.1.1/javaCompile/taskHistory.bin
/.gradle/checksums/md5-checksums.bin
/.gradle/checksums/sha1-checksums.bin
